*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
    overflow-x: hidden;
  }

html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.topNav {
    display: none;
}
.navLogo {
    display: none;
}

.header {
    background-image: url(Images/header.png);
}

.mobileMenu {
    background-color: ghostwhite;
    position: fixed;
    opacity: 1;
    width: 100%;
    height: 100%;
}

.mobileMenu {
    display: none;
}



.mobileMenu > ul a {
    text-decoration: none;
    font-size: 65px;
    color: orangered;
    padding-top: 15px;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;    
    justify-content: space-evenly;
}

.mobileMenuIcon {
    font-size: 50px;
    color: firebrick;
    top: 2%;
    left: 4%;
    position: fixed;
    z-index: 1;
}

.closeMenuIcon {
    font-size: 50px;
    color: firebrick;
    top: 8%;
    left: 4%;
    position: fixed;
    opacity: 1;
    z-index: 1;
}

.closeMenuIcon {
    display: none;
}

.textIntro {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 106px 15px 64px 15px;
}

.helloText1 {
    font-size: 28px;
    color: #ec5242;
    line-height: 47px;
}

.hirConferenceText1 {
    font-size: 37px;
    font-family: 'COCOGOOSE',sans-serif;
    color: #ec5242;
    line-height: 40px;

    background-image: url("Images/matrix.jpg");
  background-size: 50%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainIntro1 {
    font-size: 18px;
    line-height: 26px;
    border: 3px solid white;
    background-color: #d3d3d31c;
    margin: 23px 5px 23px -6px;
    padding: 20px;
}

.date1 {
    font-size: 23px;
    padding-top: -5px;
    padding-bottom: 41px;
    font-family: 'cocogoose',sans-serif;
    letter-spacing: 2px;
}

.location1 {
    font-size: 20px;
}
/* about html */
.textIntroAbt {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 106px 15px 64px 15px;
}

.helloText1Abt {
    font-size: 28px;
    color: #ec5242;
    line-height: 47px;
}

.hirConferenceText1Abt {
    font-size: 30px;
    font-family: 'COCOGOOSE',sans-serif;
    color: #ec5242;
    padding: 2;
    padding-left: 15px;
    margin-bottom: 40px;
    line-height: 40px;  
}

.mainIntro1Abt {
    font-size: 15px;
    line-height: 29px;
    border: 1px solid #d3d3d3;
    background-color: white;
    padding: 15px 5px 15px 5px;
    text-align: justify;
}

.date1Abt {
    font-size: 14px;
    padding-top: -5px;
    padding-bottom: 41px;
    text-align: center;
    font-weight: 400;
    padding-top: 27px;
    line-height: 23px;
    padding: 41px 27px;
    font-family: 'lato',sans-serif;
}

.location1Abt {
    font-size: 18px;
    line-height: -16px;
    margin-top: -35px;
    text-decoration: underline;
}

.abtLogoCampaign {
    display: flex;
    font-family: 'lato',sans-serif;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px 40px 20px;
}

.logoLine {
    align-items: center;
    width: 55px;
    padding: 15px;
}

.logoText {
    font-size: 15px;
    line-height: 24px;
}

.logoImage {
    align-items: center;
    width: 260px;
    height: auto;
    padding: 32px 0 42px 0;
}

.sectionDividerLine {
    width: 100%;
}

.pastEvents {
    display: flex;
    text-align: center;
    padding: 5px 20px 20px 20px;
    flex-direction: column;
}

.pastText {
padding: 20px;
font-size: 12px;
}

.pastImage2020 {
    color: white;
    background-image: url(images/conference1.jpg);
    min-height: 195px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: auto;
    position: relative;
    margin-top: -40px;
    box-shadow: inset 0 0 0 2000px rgba(255, 0, 0, 0.438);
    text-align: center;
    padding-top: 24px;
  }

  .pastImage2018 {
    color: white;
    background-image: url(images/conference2.jpg);
    min-height: 195px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 15px;
    box-shadow: inset 0 0 0 2000px rgba(255, 0, 0, 0.438);
    text-align: center;
    padding-top: 24px;
  }

.pastEventImage {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 54px;
}

.mainProgramCard {
    margin: 10px;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-around;
    background-color: #787f7d4d;
  }

  .containerProgram {    
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #d3d3d3;
        background-image: url(Images/Partners.jpg);
        background-repeat: no-repeat;
        background-size: cover;      
  }

  

.cardheader {
    text-align: center;
    color: #ec5242;
    margin-left: 10px;
  }
  
  .mainProgramtext {
    font-size: 13px;
    font-family: 'lato', sans-serif;
    color: #fff;
    padding-right: 4px;
    padding-right: -18px;
    margin-left: 15px;
  }

  .iconProgram {
    margin-left: 1%;
    width: 44px;
    height: auto;
  }

  .line1 {
    width: 38px;
    border-color: #ec5242;
    margin: -8px 0 22px 0;
  }
  
  .joinbtn {
    display: flex;
    justify-content: center;
    border: none;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    padding: 25px 30px;
    margin: 30px;
    color: #fff;
    background: #ec5242;
  }

  .mainProgramHeader {
    font-size: 20px;
    padding-top: 35px;
    padding-bottom: 26px;

  }

  .btnEntireProgram {
      display: none;
  }

  .featuredTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .line2 {
    display: flex;
    justify-content: center;
    width: 38px;
    margin-top: 9px;
    margin-bottom: 19px;
    border-color: #ec5242;
  }

  .speaker1 {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-auto-rows: auto;
    grid-column-gap: 18px;
    gap: 12px;
    padding-top: 36px;
  }
  
  .speakerCardContent {
    display: flex;
    flex-direction: column;
  }
  
  .speakerGridCard img {
    width: 90%;
    height: auto;
    margin-bottom: 12px;
  }

  .speakerimage1 {
    margin-left: 1%;
    width: 104px;
    height: auto;
  }
  
  .speakerName {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    margin-top: -6px;
  }
  
  .speakerTitle {
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    margin-top: 1px;
    color: #ec5242;
  }
  
  .speakerText {
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    margin-top: -1px;
    padding-top: 16px;
  }
  

  .speakerTitleLine {
    width: 19px;
    border-color: #d3d3d3;
    padding-bottom: -20px;
    margin-top: 6px;
  }

  .speakerContainer {
    padding: 20px;
  }

  .seeButton {
    display: flex;
    padding: 20px;
  }

  .seemore {
    display: flex;
    justify-content: center;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    padding: 10px 113px;
    width: 103%;
    color: black;
    background: none;
  }
  
  #chevronDown {
    color: #ec5242;
    font-size: 25px;
    margin-top: -18px;
    padding-left: 8px;
    padding-top: -85px;
  }

  .container4 {
    display: flex;
    flex-direction: column;
    background-color: #272a31;
    text-align: center;
    line-height: 36px;
    padding-top: 26px;
    padding-bottom: 24px;
  }

  
  .partnersList {
    justify-content: center;
    font-family: 'lato', sans-serif;
    color: #d3d3d3;
    font-size: 20px;
  }
  
  .partnerText {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 20px auto;
    gap: 32px;
  }
  
  .footerlogo {
    margin-left: 20%;
    width: 104px;
    height: auto;
  }

  .footerText {
    font-size: 10px;
    padding: 25px;

  }







@media screen and (min-width: 768px) {

    .navLogo {
        width: 20%;
        height: auto;
    }

    .mobileMenu {
        display: none;
    }

    .mobileMenuIcon {
        display: none;
    }

    .mainPragramCardsContainer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 30px;
      }
    
      .mainProgramCard {
        display: grid;
        text-align: center;
        grid-template-columns: 100%;
        margin: 3px;
        background-color: #787f7d4d;
      }


}