*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
    overflow-x: hidden;
  }

html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.topNav {
    display: none;
}

.navLogo {
    width: 20%;
    height: auto;
}

.mobileMenu {
    display: flex;
    justify-content: center;
}



@media screen and (min-width: 768px) {


}